@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');

div {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: canter;

    width: 100%;

    /*border: 3px solid rgba(121, 120, 120, 0.541)*/
}
div.navigation{
    background-color: #5a5a5a; 
    height:140px;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: row;
}
div.navigation button {
    background-color: #00000000;
    border: 0px;

    color: white;
    height: inherit;
    width: 600px;
    text-align: center;
}
div.navigation img {
    align-self: center;
    height: 100px;
    padding-right: 60px;
    padding-left: 60px;

    /*filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(314deg) brightness(106%) contrast(104%);*/
}
div.navigation button:hover {
    /*마우스 커서를 가져다 댔을 때 변화 */
    background-color: #525252;
    color: yellow;
}
.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
} 

.wrapper {
    display: flex;
    flex-direction: column;

    align-self: center;
    text-align: center;
    padding: 5px;
    margin:  2px auto;
    max-width: 1200px;
}

#book1 .page {
    background-color: white;
    padding: 20px;
    margin-top: 20px;

    /* height: 150px; */
    box-shadow: 2px 1px 5px 0px #AAAAAA;
}

#book1 {
    background-color: #6c727c;
}

.프로그래밍 {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 1px 5px 0px #AAAAAA;
}

.navigation img {
    width: fit-content;
    height: fit-content;
}

.navigation button {
    font-weight: 100;
    font-size: 20px;

    text-align: center;
    border-radius: 50px;
    border-width: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
}